body{
  padding: 0;
  margin:0;
  font-family: 'montserrat', sans-serif;
}

.text-center{
  text-align: center;
}

.app{
  background-image: url(./assets/cold-bg.jpg);
  background-size: cover;
  background-position:center;
  transition: 0.4 ease;
}

.app.warm{
  background-image: url(./assets/warm-bg.jpg);
  transition: 0.4 ease;
}
.main{
  min-height: 100vh;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.5))
}

.search{
width: 100%;

}

.search-bar{
  padding: 15px;
  width: 80%;
  margin: 20px 10%;
  appearance: none;
  outline: none;
  background:none;
  background-color:rgba(225, 225, 225, 0.5) ;
  border: 1px solid #999;
  color: #333;
  border-radius: 100px;
  transition: 0.2s ease;
}

.search-bar:focus{
  transition: 0.2s ease;
  background-color:rgba(225, 225, 225, 0.7) ;
}

.location-box{
  color:#fff ;
}

.location{
  font-size: 32px;
  font-weight:500;
  padding: 10px;
}

.date{
  font-size: 20px;
  font-style: italic;
}


.weather-box{
    color:#fff ;
}

.temp{
  font-size: 48px;
  font-weight:900;
  padding: 30px;
  margin: 30px auto;
  width: 100px;
  background-color: rgba(225,225,225,0.4);
  border-radius: 20px;
}

.weather{
  font-size: 30px;
  font-weight:500;
}